.title {
  margin-bottom: 20px;
  padding: 0;
}
.intro {
  font-size: 25px;
  margin: 0;
}
.bold {
  font-style: italic;
}
.cobalt,
.cobalt:hover {
  font-style: italic;
  color: navy;
}
.bio {
  padding: 8rem 2rem;
  margin: 0 auto;
  text-align: justify;
  height: 90%;
  width: 80%;
}
.bio-text {
  margin-bottom: 30px;
  font-size: 22px;
}
.skills-title {
  font-weight: bold;
  font-size: 1.5rem;
}
.skills {
  letter-spacing: 0.1em;
}
