/* .aboutbody {
  /* margin: 50px 0px 0px 0px; */
/* } */
.french-cat {
  width: 250px;
}
.container {
  margin-top: 50rem;
  margin-bottom: 3rem;
}
.jumbo {
  font-family: "Jura", sans-serif;
  font-weight: bold;
  background-color: transparent;
  margin-top: 3.8rem;
}
.bio {
  margin-top: 8rem;
  font-size: 100px;
  /* line-height: 1.7rem; */
  text-align: justify;
  text-justify: inter-word;
}
/* .tooltip {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  color: #66b2b2;
  font-size: xx-large;
} */
