.bonus {
  margin: 4rem 2rem;
  height: 90%;
}
h1.title {
  margin-bottom: 3rem;
  padding: 0;
}
.bonus-row {
  width: 100%;
  margin: 0 auto;
}
.bonus-col {
  min-width: 38%;
  padding: 10px;
  margin-bottom: 4rem;
}
.card-title {
  font-size: 1.3rem;
}
.app-img {
  margin: 20px;
  border: 0.1px lightgrey solid;
  border-radius: 15px;
  max-width: 95%;
}
.play {
  font-size: 1.2rem;
  padding: 5px;
  margin: 5px;
  display: inline-block;
  color: navy;
  border: 0.1px navy solid;
  border-radius: 5px;
}
