.contact-container * {
  font-family: "Cormorant", serif;
  color: rgb(5, 5, 90);
  max-width: 80%;
  min-width: 55%px;
  max-height: 80%;
  margin: 0 auto;
  padding-bottom: 20px;
}
ol {
  list-style: none;
}
li {
  line-height: 2.2rem;
  margin: 0 auto;
}
li:hover {
  transform: scale(1.2);
  transition: all ease 500ms;
}
a {
  font-style: italic;
  font-size: 1.8rem;
}
a:hover {
  color: red;
  text-decoration: none;
}
.connect {
  padding: 0;
}
.contact-container h1 {
  margin-bottom: 15px;
}
