.contact * {
  /* font-family: "Cormorant", serif; */
  color: rgb(5, 5, 90);
  max-width: 80%;
  min-width: 55%px;
  max-height: 80%;
  margin: 0px auto;
  padding-top: 40px;
}
ul {
  list-style: none;
}
li {
  line-height: 1.7rem;
  margin: 0 auto;
}
.connect {
  padding: 0;
}
.connect a {
  font-size: 1.7rem;
  padding-top: 0;
  font-weight: bold;
}
.connect li:hover {
  transform: scale(1.1);
  transition: all ease 500ms;
}
.connect a:hover {
  color: red;
  text-decoration: none;
}
.contact h1 {
  margin-bottom: 15px;
}

.contact h3 {
  padding: 0;
}
