/* .form {
  margin-top: 9rem;
  max-width: 700px;
  font-family: "Jura", sans-serif;
}
.first {
  font-size: 30px;
  font-weight: bolder;
  color: black;
}
.last {
  font-size: 30px;
  font-weight: bolder;
  color: darkgray;
}

button {
  text-align: left;
}
.label {
  text-align: left;
  font-size: 1.5rem;
}
.btn {
  background-color: #66b2b2;
  border: #66b2b2;
  margin-top: 10px;
} */
