.home-container {
  margin-bottom: 2rem;
}
.greetings {
  padding: 4rem 2rem;
  margin: 0 auto;
  text-align: center;
  color: navy;
}
.name {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 15px;
}
.greetings h2 {
  font-size: 1.75rem;
}
.greetings .jobTitle {
  margin-bottom: 4rem;
}
.workco {
  color: navy;
}
.cobalt,
.main-container {
  color: navy;
}

a.cobalt:hover,
a.workco:hover {
  color: red;
  text-decoration: none;
}
.bio {
  margin: 0 auto;
  text-align: justify;
  height: 90%;
  width: 80%;
}
.bio-text {
  margin-bottom: 20px;
  font-size: 22px;
}

/* .more {
  font-size: 22px;
  font-weight: bolder;
  border: none;
  border-radius: 0.6rem;
  padding: 8px 18px;
  background-color: navy;
}
.more:hover {
  color: lightgray;
  text-decoration: none;
  font-size: 27px;
} */
