body {
  font-family: "Jura", sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  /* background-image: url("../../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #b6b1a0;
}
.homebody {
  height: 1900px;
}
.name {
  margin: 0 auto;
  padding-top: 200px;
  color: #cf1a06;
}
h1 .first {
  font-size: 50px;
  font-weight: bolder;
  color: #008080;
}
h1 .last {
  font-size: 50px;
  font-weight: bolder;
  color: #008080;
}
/* BERET ANIMATION */
.beret {
  position: relative;
  animation: mymove 2s infinite;
  animation-timing-function: linear;
}
@keyframes mymove {
  from {
    left: 7px;
  }
  to {
    right: 10px;
  }
}
.text {
  color: rgb(73, 71, 71);
  font-size: 30px;
}
#eiffel {
  width: 15px;
}
/* color: #286928; */
/* color: #024224; */

/* #c08081 */
/* #fbccd1 */
/* #cf989f */
