.column {
  width: 100%;
  display: grid;
  margin-top: 5rem;
  margin-bottom: 2rem;
  padding: 0.8rem;
}
.portfolio-title {
  margin: 50px 20px 20px 20px;
  font-family: "Jura", sans-serif;
}
.projects {
  font-size: 30px;
  font-weight: bolder;
}
.card-group {
  display: flex;
  flex-wrap: row;
}
.projects-col {
  margin: 0 auto;
}
.card {
  border: 1px solid grey;
  box-shadow: grey;
  border-radius: 10px;
  margin: 3px 0px 0px 3px;
  padding: none;
  min-height: 17rem;
}
.image {
  width: 17rem;
  height: 13rem;
}
.project-title {
  font-weight: 700;
  color: #66b2b2;
}
.technology {
  color: darkgrey;
  font-size: small;
  padding: 0;
  margin: 0;
}
