.column {
  width: 100%;
  display: grid;
  margin-top: 5rem;
  margin-bottom: 2rem;
  padding: 0.8rem;
}
.portfolio-title {
  margin: 50px 20px 20px 20px;
  font-family: "Jura", sans-serif;
}
.subtitle {
  font-size: 1.2rem;
}
.portfolio {
  font-size: 30px;
  font-weight: bolder;
  color: black;
}
.gallery {
  font-size: 30px;
  font-weight: bolder;
  color: #008080;
}
.card-group {
  /* border: 1px solid lightgrey; */
  display: flex;
  flex-wrap: row;
}
.card {
  border: none;
  border-radius: 10px;
  margin: 3px 0px 0px 3px;
  padding: none;
  min-width: 30%;
  height: 27rem;
  display: flex;
}
.image {
  width: 17rem;
  height: 13rem;
}
.project-title {
  font-weight: 700;
  color: #66b2b2;
}
.technology {
  color: darkgrey;
  font-size: small;
  padding: 0;
  margin: 0;
}
