.portfolio-title {
  margin: 50px 50px 50px 50px;
}
.portfolio {
  font-size: 40px;
  font-weight: bolder;
  color: black;
}

.gallery {
  font-size: 40px;
  font-weight: bolder;
  color: darkgray;
}
.card-group {
  display: flex;
  flex-wrap: row;
}
.card {
  border: 1px solid grey;
  margin: 10px 10px 10px 20px;
  min-width: 40%;
  display: flex;
}
.screenshot {
  width: 100px;
}
