.projects-container {
  color: navy;
}
.short-about {
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(241, 241, 242);
}
.name {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 15px;
}
.short-bio {
  font-size: 20px;
}
.workco {
  color: navy;
}
a.workco:hover {
  color: red;
  text-decoration: none;
}
.projects-container {
  margin-bottom: 2rem;
  color: navy;
}
h1 {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 15px;
}
.main {
  padding: 1rem;
  text-align: center;
}
.project-row {
  margin-top: 3rem;
}
.projects-col {
  padding: 1.2rem;
}
.link-site {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  background-color: white;
  opacity: 0.8;
}
.project-link,
.project-github {
  width: 8rem;
  padding: 5px;
  background-color: white;
  border: 0.1px navy solid;
  border-radius: 5px;
  font-size: 18px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.project-link {
  top: 85%;
}
.project-github {
  top: 95%;
}
.project-title,
.project-description.card-text {
  top: 40%;
  margin: 2rem;
  text-align: center;
  font-size: 23px;
  font-weight: bolder;
}
.project-link:hover,
.project-github:hover {
  color: red;
}
.container-image:hover .image {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.container-image:hover .link-site {
  bottom: 0;
  height: 100%;
}
a.github-link {
  color: navy;
}
a.github-link:hover {
  color: rgb(161, 5, 8);
}
button {
  color: navy;
}
.technology {
  margin: 2rem;
}
