.skills-container {
  margin-bottom: 2rem;
}
.main {
  padding: 4rem 2rem;
  margin: 0 auto;
  text-align: center;
  color: navy;
}
.title {
  margin-top: 3rem;
  padding-bottom: 0px;
}
.section {
  justify-content: center;
}
.icon {
  margin: 20px;
}
h5 {
  font-size: small;
}
