/* .skills {
  text-align: center;
}
.main {
  width: 70%;
} */

.title {
  margin-top: 3rem;
  padding-bottom: 0px;
}
.section {
  justify-content: center;
}
.icon {
  margin: 20px;
}
h5 {
  font-size: small;
}
