.row {
  margin: none;
  padding: none;
}
.navigation {
  width: 100%;
  height: 7rem;
  font-family: "Jura", sans-serif;
  padding-left: 10px;
  background-color: darkgrey;
}
#home {
  padding-right: 5px;
  font-size: 3rem;
  color: #66b2b2;
}

/* .girl-logo {
  width: 40px;
  margin-right: 15px;
} */
.toggler {
  background-color: #66b2b2;
  border-color: #66b2b2;
}
.links {
  font-size: 1.3rem;
  color: #008080;
}
.mr-auto {
  max-height: 50px;
}
.nav-link:hover {
  color: #858384;
}
