.row {
  margin: none;
  padding: none;
}
.close {
  margin-top: 0;
  float: left;
  font-size: 3rem;
  font-weight: 700;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.4;
}
.navigation {
  margin: 0;
  width: 20%;
}
#responsive-navbar-nav {
  margin-top: 0;
  height: 100vh;
  background-color: #0050a4;
  font-family: "Jura", sans-serif;
}
.french-cat {
  margin: 0 auto;
  min-width: 50%;
  max-width: 70%;
  border: 2px solid white;
}
/* #home {
  padding-right: 5px;
  font-size: 2.5rem;
  color: #e26b03;
} */
/* .first {
  font-size: 25px;
  font-weight: bolder;
  color: black;
}
.last {
  font-size: 25px;
  font-weight: bolder;
  color: darkgray;
} */
.contact {
  font-size: 18px;
  color: white;
}
#email {
  margin-left: 5px;
  color: yellow;
}
h4 {
  font-weight: bold;
}
.toggler {
  background-color: #0050a4;
  border-color: #0050a4;
}
.links {
  font-size: 1.6rem;
  color: lightgrey;
  font-weight: bold;
  /* line-height: 0.5rem; */
}
.mr-auto {
  max-height: 50px;
}

.navlinks {
  text-align: left;
}
