.row {
  margin: none;
  padding: none;
}
/* .close {
  margin-top: 0;
  float: left;
  font-size: 3rem;
  font-weight: 700;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.4;
} */
.navigation {
  margin: 0;
  width: 20%;
}
#responsive-navbar-nav {
  margin-top: 0;
  height: 100vh;
  background-color: #0050a4;
  font-family: "Jura", sans-serif;
}
.french-cat {
  margin: 0 auto;
  min-width: 50%;
  max-width: 70%;
  border: 2px solid white;
}
.city {
  font-size: 15px;
  color: white;
}
h4 {
  color: white;
}
#email {
  font-size: 13px;
  margin: 0 auto;
  color: yellow;
}
.toggler {
  background-color: #0050a4;
  border-color: #0050a4;
}
.links {
  font-size: 1.3rem;
  color: lightgrey;
  font-weight: bold;
  /* line-height: 0.5rem; */
}
.mr-auto {
  max-height: 50px;
}

.navlinks {
  text-align: left;
}
