body {
  font-family: "Cormorant", serif;
  color: rgb(5, 5, 90);
  height: 100vh;
  width: 100vw;
}
/* HEADER */
#header-wrapper h3 {
  font-size: 1.2rem;
}
#header-wrapper:before {
  content: " ";
  position: absolute;
  top: 5px;
  left: 0px;
  right: 0px;
  bottom: 7px;
  border-bottom: rgb(5, 5, 90) 7px solid;
}
#header-wrapper {
  width: 100vw;
  height: 80px;
  margin-bottom: 2px;
  color: rgb(5, 5, 90);
  display: flex;
  align-items: center;
  padding-left: 20px;
  position: relative;
  border-bottom: red 7px solid;
}
.eiffel-tower {
  width: 45px;
}
#toggle {
  cursor: pointer;
  color: rgb(5, 5, 90);
  font-size: 55px;
  margin-left: 20px;
  background: transparent;
  border: none;
}
/* SIDEBAR */
.sidebar {
  text-align: center;
  height: 100vh;
  background-color: rgb(2, 2, 78);
  opacity: 0.9;
  color: white;
  width: 220px;
  position: absolute;
  z-index: 200;
  top: 60px;
  left: -100%;
  animation: slide-open 0.4s forwards;
  overflow-y: scroll;
}
#close {
  font-size: 3rem;
  font-weight: bolder;
  color: white;
  background-color: transparent;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}
.sidebar.close {
  left: 0;
  animation: slide-closed 1s forwards;
}
@keyframes slide-open {
  100% {
    left: 0;
  }
}
@keyframes slide-closed {
  100% {
    left: -100%;
  }
}
.profile-pic {
  border: 3px solid white;
  padding-top: 0;
  margin: 0 auto;
  display: block;
  width: 150px;
}
h4 {
  font-size: x-large;
  font-weight: bolder;
}
p {
  margin-top: 2px;
  margin-bottom: 1px;
}
.links {
  color: white;
  font-size: 23px;
  font-style: normal;
  line-height: 0.7rem;
}
.personal-info {
  font-size: large;
  font-weight: bold;
}
#email {
  font-style: normal;
  font-size: 15px;
  padding: 1px 10px;
  margin: 0;
  color: white;
}
#email:hover {
  color: red;
  font-size: 19px;
}

.navigation-section {
  flex-flow: column wrap;
  justify-content: center;
}
.navigation {
  position: relative;
  display: block;
  align-items: center;
}
.nav-link {
  padding: 0;
  line-height: 1.5rem;
}
