.header-container {
  height: 0;
}
.brand {
  margin-left: 60px;
  display: inline;
}
.brand-name {
  font-size: 1.5rem;
  color: navy;
  font-style: normal;
}
a.brand-name {
  position: absolute;
  top: 29px;
  text-decoration: none;
}
a.brand-name:hover {
  color: navy;
}
.croissant-icon {
  color: navy;
  display: inline;
  width: auto;
  float: right;
  margin-top: 15px;
  margin-right: 15px;
  font-size: 33px;
  position: relative;
  animation: mymove 1s infinite linear;
}
@keyframes mymove {
  from {
    left: 5px;
  }
  to {
    right: 5px;
  }
}
a.bonus {
  color: navy;
}
