.header {
  height: 10px;
}
.brand {
  margin-left: 60px;
  display: inline;
}
a.brand-name {
  position: absolute;
  top: 55px;
  text-decoration: none;
}
.croissant-icon {
  display: inline;
  width: auto;
  float: right;
  margin-top: 4px;
  margin-right: 10px;
  font-size: 30px;
  position: relative;
  animation: mymove 1s infinite linear;
}
@keyframes mymove {
  from {
    left: 5px;
  }
  to {
    right: 5px;
  }
}
