.header-container {
  background-color: navy;
  padding: 1.2rem;
}
.container {
  font-size: x-large;
  min-width: 100%;
}
#responsive-navbar-nav {
  justify-content: flex-end;
}
.flag {
  height: 2rem;
  width: auto;
  margin-right: 10px;
  margin-bottom: 5px;
}
