.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
a {
  color: white;
}
a:hover,
.croissant:hover {
  text-decoration: none;
  color: rgb(239, 65, 53);
}
.croissant {
  font-size: 1.7rem;
  color: white;
}
a.bonus {
  margin: 0px;
}
