.menu-bars,
.menu-bars:hover {
  color: rgb(5, 5, 90);
}
.navbar {
  left: 15px;
}
.nav-menu {
  background-color: rgb(5, 5, 90);
  opacity: 0.9;
  width: 170px;
  height: 100vh;
  position: fixed;
  top: 100px;
  left: -100%;
  transition: 850ms;
}
.nav-menu.active {
  text-align: center;
  background-color: rgb(5, 5, 90);
  opacity: 0.95;
  width: 190px;
  height: 100vh;
  position: fixed;
  left: 0;
  color: white;
  transition: 350ms;
  top: 100px;
  z-index: 2000;
}
.navbar-toggle {
  padding-top: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}
.menu-close {
  color: white;
}
.menu-close:hover {
  color: red;
}
.profile-pic {
  border-radius: 50%;
  border: 2px solid white;
  margin: 30px auto;
  width: 140px;
}
#email {
  font-size: 13px;
  color: white;
}
#email:hover {
  color: red;
  text-decoration: none;
}
.nav-menu-items {
  padding: 0px 20px;
  width: 100%;
  list-style: none;
}
.nav-text a {
  text-decoration: none;
  color: white;
}
.nav-text a:hover {
  color: red;
}
