.navbar {
  text-align: center;
  background-color: white;
}
.navbar-brand {
  font-size: x-large;
}
.nav {
  font-size: 20px;
}
.nav-link {
  color: black;
  max-height: 50px;
}
.nav-link:hover {
  color: #858384;
}
