.footer {
  width: 100%;
  height: 3.5rem;
  background-color: #eaebed;
  padding-top: 0.3rem;
}
.fullrow {
  width: 70%;
  margin: 0 auto;
}
.logo {
  width: 40px;
}
.item {
  align-items: center;
}
