@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cormorant", serif;
}

.dark-mode-icon {
  margin: 10px 0px 0px 25px;
  font-size: 30px;
}
